body{
    padding: 0;
    margin: 0;
    background-color: #fffff0;
    font: 16px/1.5 'Times New Roman', Times, serif;
    }
    ul{
      text-decoration: none;
      margin: 0;
      padding: 0
    }
    
    .container{
      width: 80%;
      margin: auto;
      overflow: hidden;
    
    }
    
    header{
      background:black;
      color:orange ;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: white 3px solid;
      margin: 0%;
    }
    header a{
      color:orange;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
    }
    header ul{
      margin: 0;
      padding: 0;

    }
    header li{
      float:center;
      display: inline-block;
      padding: 0 20px ;
    }
    header #branding{
      float: left;
    
    }
    header #branding h1{
      margin: 0;
    }
    header nav{
      float: right;
      margin-top: 10px;
    }
     header .highlate, header .current a{
      color: #9f217f;
      font-weight: bold;
    } 
    header a:hover{
      font-weight: bold;
    }
  
    #showcase{
      min-height:500px;
      background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url(showcase.jpg);
      background-size:cover;
      text-align: center;
      color:white;
      margin:0px;
      border-bottom:2px solid white;
    }
    #showcase h1{
      margin-top: 100px;
      font-size: 55px;
      margin-bottom: 10px;
    }
    #showcase p{
      font-size: 20px;
      color:orange
    }
  
    #newsletter{
      padding: 15px;
      color: white;
      background:black;
      border-bottom: 2px solid orange;
    }
    #newsletter h1{
      float: left;
    }
    #newsletter form{
      float: right;
      margin-top: 15px;
    }
    #newsletter input[type="email"]{
      padding: 4px;
      height: 25px;
      width: 250px;
    }
    button{
    height: 38px;
    background:aqua;
    border: 2px solid white ;
    color:white;
    }
    #boxes{
      margin-top: 20px;
    }
    #boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    }
    #boxes .box img{
      width: 90px;
    }
    footer{
      padding: 20px;
      margin-top: 20px;
      color: white;
      background: #000000;
      text-align: center;
    }
    aside#sidebar{
      float: right;
      width: 30%;
      margin-top:10px;
    }
    article#main-col{
      float: left;
      width: 65%;
    }
    .dark{
      background:#000080;
      padding: 15px;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    @media (max-width: 780px) {
    header #branding,header nav,header li, #boxes .box,article#main-col,aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
    }
    header{
      padding-bottom: 20px;
    }
    #showcase h1{
      margin-top: 40px;
    }
    #newsletter button, .quote button,.quote input{
    width: 100%;
    margin-top: 5px;
    }
    #newsletter form input[type="email"]{
    width: 100%;
    text-align: center;
    }
    
   